<!-- templates/home.html -->

{% extends 'base.html' %}


{% block title %}Home{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
       Hi {{ user.username }}!
 <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
 <p>You are not logged in</p>
 <a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}




<head>
    <nav id="navbar">
        <ul>
               
            <li class="button"><a href="home.html">Home</a></li>
            <li class="button"><a href="reviewpost_list.html">Salon Reviews</a></li>
            <li class="button"><a href="request_list.html">Salon Requests</a></li>
        </ul>
    </nav>
</head>
<h1>Homepage</h1>
    <img src="../static/images/logosaloncrop.png" alt="salonlogo">
    <h2>Salon news and online offers</h2>
            <ul>
                {% for post in all_posts_list %}
                
                <li>{{post.text}}</li>
                {% endfor %}
            </ul>


    <h3>Customers Reviews</h3>
            <p>Please post your experience with our services and stylists here! </p>
        {% for review in object_list %}
            <div class="post-entry">
                <h4><a href="{% url 'reviewpost_detail' review.pk %}">{{ review.title }}</a></h4>
                <p>{{ review.body }}</p>

            </div>
        {% endfor %}


<footer>
    <ul>

        <li><a href="home.html">Home</a></li>
        <li><a href="reviewpost_list.html">Salon Reviews</a></li>
        <li><a href="request_list.html">Salon Requests</a></li>
     </ul>
</footer>

{% endblock content %}